@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
html{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
}/* последующие стили наследуют box-sizing у html */
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: black;
    background-color: #ffffff;
}/* стиль бади для всех эл-ов */
.wrapper{ /*"обертка" для размещения контента по центру  */
    max-width: 1300px; /* ширина 1060 пикс для контента*/
    margin: 0 auto;/* выравнивание внутри родителя по центру */
    overflow: clip;
    flex-direction: column;
}
.header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper{/* стили для контейнера в "обертке" */
    display: flex;
    flex-wrap: wrap;/* отвечает за перенос контента */
    align-items: flex-end;
    justify-content: space-between; /*растягиваем эл-ы по контейнеру */
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 15px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 3px;
    align-items: center;
}
@media(max-width:500px){
    .header__wrapper{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 10px;
    }
}
.header__item{/* настраиваем оступы между пункатим навигационного меню */
    margin-right: 45px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link{/* стиль пунктов навигационного меню */
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active
{
opacity: .6;/* прозрачность 60%*/
}/* стиль для взаимодействия с ссылками*/

/* ----------------------------- */ 
      
main{
    max-width: 1300px; /* ширина 1060 пикс для контента*/
    margin: 0 auto;/* выравнивание внутри родителя по центру */
    overflow: clip;
    flex-direction: column;
}
/* стиль первого экрана начало */
.intro{
    padding-top: 190px;
    margin-bottom: 110px;
}
.intro__title{ /* стиль для заголовка 1 экрана*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 120px;
    line-height: 136px;
    color: black;
    margin-bottom: 60px;
}
.intro__subtitle{ /* стиль для подзаголовка*/
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #535353;
    margin-bottom: 20px;
}
@media (max-width: 1024px) {
    .intro__title {
        font-size: 96px;
        line-height: 120px;
    }
    .intro__subtitle {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .intro__title {
        font-size: 72px;
        line-height: 90px;
    }
    .intro__subtitle {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    .intro__title {
        font-size: 48px;
        line-height: 60px;
    }
    .intro__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
}
/* стиль первого экрана конец */

/* ----------------------------- */

/* стиль ссылок начало */
.intro__social{ /* стиль для ссылок на соцсети*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.intro__social__list{
    list-style-type:  none;
}
.intro__social__item{
    margin-right: 20px;
    list-style-type:  none;
}
.intro__social__item:last-child{
    margin-right: 0px;
}
.intro__social__link{
    text-decoration: none;

}
.intro__social__link:hover, .intro__social__link:focus, .intro__social__link:active{ 
    opacity: .6;/* прозрачность 60%*/
}   /* стиль для взаимодействия с ссылками*/
.colortext{
    color: #AEE2FF;
}
.colortext1{
    color: #AEE2FF;
    font-weight: 700;
}/* стиль ссылок конец */

/* ----------------------------- */

/* стили для формы начало */
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.sidetext {
    float: left;
    width: 50%;
    margin-right: 20px;
}
.h3__sidetext{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    color: #939395;
}
.h1__sidetext{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 124px;
    line-height: 150px;
    color: black;
    margin-bottom: 60px;
}

.forma {
  width: 50%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;

}
.forma p{
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}
form label {
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
  }  
form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  width: 100%;
  background-color: #ecfafd;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  font-family: 'Inter', sans-serif;
}

form textarea {
  min-height: 150px;
}

form button[type="submit"] {
  background-color: #070707;
  color: #fff;
  font-weight: 500;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

form button[type="submit"]:hover {
  background-color: #64c5ee;
}
/* стили для формы конец */
/* 
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
} */
/* ----------------------------- */ 
/* стили карта начало */
.map{
    padding-bottom: 80px;
}
/* стили карта конец */

/* ----------------------------- */ 
      
/* стили футера начало*/
.footer{
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #E8E7EA;
}
.footer__container{
    display: flex;
    flex-wrap: wrap;/* отвечает за перенос контента */
    justify-content: space-between; /*растягиваем эл-ы по контейнеру */
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}
.footer__list{
    display: flex;
    flex-wrap: wrap;
}
.footer__item{
    margin-right: 45px;
}
.footer__item:last-child{
    margin-right: 0px;
}
.footer__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #939395;
}
.footer__link:hover, .footer__link:focus, .footer__link:active{
    opacity: .6;/* прозрачность 60%*/
}   /* стиль для взаимодействия с ссылками*/
.footer__social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.social__list{
    list-style-type:  none;
}
.social__item{
    margin-right: 10px;
    list-style-type:  none;
}
.social__item:last-child{
    margin-right: 0px;
}
.social__link{
    text-decoration: none;

}
.social__link:hover,.social__link:focus, .social__link:active{ 
    opacity: .6;/* прозрачность 60%*/
}   /* стиль для взаимодействия с ссылками*/
@media(max-width:500px){
    .footer__container{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 10px;
    }
}
/* стили футера конец*/