 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
}/* последующие стили наследуют box-sizing у html */
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: black;
    background-color: #ffffff;
}/* стиль бади для всех эл-ов */
.wrapper{ /*"обертка" для размещения контента по центру  */
    max-width: 1300px; /* ширина 1060 пикс для контента*/
    margin: 0 auto;/* выравнивание внутри родителя по центру */
    overflow: clip;
    flex-direction: column;
}
.header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper{/* стили для контейнера в "обертке" */
    display: flex;
    flex-wrap: wrap;/* отвечает за перенос контента */
    align-items: flex-end;
    justify-content: space-between; /*растягиваем эл-ы по контейнеру */
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 15px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 3px;
    align-items: center;
}
@media(max-width:500px){
    .header__wrapper{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 10px;
    }
}
.header__item{/* настраиваем оступы между пункатим навигационного меню */
    margin-right: 45px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link{/* стиль пунктов навигационного меню */
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active
{
opacity: .6;/* прозрачность 60%*/
}/* стиль для взаимодействия с ссылками*/

/* ----------------------------- */ 

/* Стили 1-ого экрана начало*/
.intro{
    padding-top: 190px;
    margin-bottom: 110px;
}
.intro__title{ /* стиль для заголовка 1 экрана*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 124px;
    line-height: 150px;
    color: black;
    margin-bottom: 60px;
}

.intro__subtitle{ /* стиль для подзаголовка*/
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #535353;
    margin-bottom: 20px;
}
.intro__social{ /* стиль для ссылок на соцсети*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.intro__social__list{
    list-style-type:  none;
}
.intro__social__item{
    margin-right: 20px;
    list-style-type:  none;
}
.intro__social__item:last-child{
    margin-right: 0px;
}
.intro__social__link{
    text-decoration: none;

}
.intro__social__link:hover, .header__link:focus, .header__link:active{ 
    opacity: .6;/* прозрачность 60%*/
}  

.colortext{
    color: #AEE2FF;
}
@media (max-width: 1024px) {
    .intro__title {
        font-size: 96px;
        line-height: 120px;
    }
    .intro__subtitle {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .intro__title {
        font-size: 72px;
        line-height: 90px;
    }
    .intro__subtitle {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    .intro__title {
        font-size: 48px;
        line-height: 60px;
    }
    .intro__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
}
/* стили 1-ого экрана конец*/

/* ----------------------------- */ 

/* стили 2-ого экрана philosophy начало*/
.philosophy{
   margin-bottom: 120px;
}
.philosophy__card{ /* флекс для карточки*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}
.philosophy__item1{
   max-width: 610px;
   padding-bottom: 40px;
}

.philosophy__title{ /* стиль для стиль для заголовка 2 экрана*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 40px;
}
.philosophy__description{ /* стиль для абзаца второго экрана*/
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #959595;
    margin-bottom: 60px;
    
}
.philosophy__link{ /* стиль кнопки*/
    box-sizing: border-box;
    padding: 18px 26px;
    gap: 10px;
    border: 2px solid #9747FF;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #9747FF;
    text-decoration: none;
}
@media (max-width: 1200px) {
    .philosophy__title{ /* стиль для стиль для заголовка 2 экрана*/
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 66px;
        color: #000000;
        margin-bottom: 40px;
    }
    .philosophy__item1{
        max-width: 500px;
        padding-bottom: 40px;
     }
    
    .philosophy__description{ /* стиль для абзаца второго экрана*/
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #959595;
        margin-bottom: 60px;
    }

     .philosophy__thumb{
        width: 100%;
    }
}
@media (max-width: 1080px) {
    .philosophy__title{ /* стиль для стиль для заголовка 2 экрана*/
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 66px;
        color: #000000;
        margin-bottom: 40px;
    }
    .philosophy__item1{
        max-width: 400px;
        padding-bottom: 40px;
     }
    
    .philosophy__description{ /* стиль для абзаца второго экрана*/
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #959595;
        margin-bottom: 60px;
    }

     .philosophy__thumb{
        max-width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .philosophy__thumb {
      display: none;
    }
    .philosophy__title{ /* стиль для стиль для заголовка 2 экрана*/
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: #000000;
        margin-bottom: 40px;
    }
    .philosophy__item1{
        max-width: 800px;
        padding-bottom: 40px;
     }
     .philosophy__description{ /* стиль для абзаца второго экрана*/
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #959595;
        margin-bottom: 60px;
    }
  }
  .philosophy__link:hover, .philosophy__link:focus, .philosophy__link:active{
    opacity: 0.7;
  }
/* стили 2-ого экрана philosophy конец*/

/* ----------------------------- */ 

/* стили 3-го экрана начало*/
.wrapper-fullsreen{
    min-height: 100vh;
    max-width: 1300px;
    display:flex;
    flex-direction: column;
}
.aboutme{
    min-height: 100vh;
    background-color: #AEE2FF;
    display: flex;
    text-align: center;
}
.fullscreen__body{
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;
}
.fullscreen__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    color: #ffffff;
    text-decoration: underline;
}
.fullscreen__link:hover, .fullscreen__link:focus, .fullscreen__link:active{
    opacity: 0.7;
  }
/* стили 3-го экрана конец*/

/* ----------------------------- */ 
      
/* стили проекты начало*/
.works{
    padding-top: 100px;
}
.projects { 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
    row-gap: 50px; 
    column-gap: 5%;
    padding-bottom: 50px;
} 
    
 .project { 
    max-width: 390px; 
    height: 100%;
    background-color: #FFF; 
    box-shadow: 0px 5px 5px rgba(202, 202, 202, 0.25); 
    border-radius: 10px; 
} 

 .project__img { 
    border-radius: 10px 10px 0 0; 
}    
 .project a{
    text-decoration: none;
 }   
 .projects__title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 40px;
 }
.project__title { 
    padding: 25px 20px 25px; 
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #525252;
    text-decoration: none;
    text-align: center; 
} 
.project__title:hover, .project__title:focus, .project__title:active{ 
    color: #5fa3e4;
}   /* стиль для взаимодействия с ссылками*/
.project:hover, .project:focus, .project:active{ 
    max-width: 390px; 
    background-color: #FFF; 
    box-shadow: 0px 5px 15px rgba(111, 111, 111, 0.25); 
    border-radius: 10px; 
}   /* стиль для взаимодействия с ссылками*/
/* стили проекты конец*/

/* ----------------------------- */ 
      
/* стили слайдер начало*/
.slides{
    padding-top: 50px;
    max-width: 1300px;
    margin: 0 auto;
}
.slider {
    position: relative;
    max-width: 1300px;
    height: 690px;
    margin: 0 auto;
    overflow: hidden;
  }
.slider__title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
}
  .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .slider img:first-child {
    opacity: 1;
  }

  @media (max-width: 1200px) {
    .slider {
        position: relative;
        max-width: 1300px;
        height: 630px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 50px;
    }
}

  @media (max-width: 1024px) {
    .slider {
        position: relative;
        max-width: 1300px;
        height: 550px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .slider {
        position: relative;
        max-width: 1000px;
        height: 450px;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (max-width: 640px) {
    .slider {
        position: relative;
        max-width: 800px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    .slider {
        position: relative;
        max-width: 600px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (max-width: 360px) {
    .slider {
        position: relative;
        max-width: 350px;
        height: 200px;
        margin: 0 auto;
        overflow: hidden;
    }
}
/* стили слайдер конец */

/* ----------------------------- */ 

/* стили футера начало*/
.footer{
    padding-bottom: 35px;
    border-top: 1px solid #E8E7EA;
}
.footer__container{
    display: flex;
    flex-wrap: wrap;/* отвечает за перенос контента */
    justify-content: space-between; /*растягиваем эл-ы по контейнеру */
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}
.footer__list{
    display: flex;
    flex-wrap: wrap;
}
.footer__item{
    margin-right: 45px;
}
.footer__item:last-child{
    margin-right: 0px;
}
.footer__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #939395;
}
.footer__link:hover, .footer__link:focus, .footer__link:active{
    opacity: .6;/* прозрачность 60%*/
}   /* стиль для взаимодействия с ссылками*/
.footer__social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.social__list{
    list-style-type:  none;
}
.social__item{
    margin-right: 10px;
    list-style-type:  none;
}
.social__item:last-child{
    margin-right: 0px;
}
.social__link{
    text-decoration: none;

}
.social__link:hover, .social__link:focus, .social__link:active{ 
    opacity: .6;/* прозрачность 60%*/
}   /* стиль для взаимодействия с ссылками*/
@media(max-width:500px){
    .footer__container{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 10px;
    }
}
/* стили футера конец*/